@charset "utf-8";


/* #top_ads_bg 시작 */

#top_ads_bg {
    width: 100%;
    background: #353b38;
}

#topads_wrap {
    margin-top: 0;
}

#topads_wrap > a div#ads_img_wrap > figure img {
    vertical-align: top;
    width: 100%;
}

/* gcova_sub_bar_bg 시작 */

#gcova_sub_bar_bg {
    width: 100%;
    background: #fff;
}

#subbar_allwrap {
    max-width: 1000px;
    margin: 5% auto;
}

#sub_bar_wrap {
    margin: 9% auto 0;
    width: 100%;
}

#sub_bar_wrap > h2 {
    border-left: 10px solid #fa6868;
    padding-left: 3%;
    margin-top: 6%;
    margin-left: 2%;
    font-size: 22px;
    color: #2e2e2e;
}

#sub_bar_wrap > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding: 0 6%;
    box-sizing: border-box;
    
}

#sub_bar_wrap > ul li {
    flex-grow: 1;
    background: #e3e3e3;
    transition: all 0.3s;
}

#sub_bar_wrap > ul li a {
    padding: 4% 0;
    text-align: center;
    color: #363636;
    letter-spacing: 1px;
    font-size: 1.2em;
    display: block;
}



#sub_bar_wrap > ul li:hover {
    background: #fa6868;
}

#sub_bar_wrap > ul li:hover a {
    color: #fff;
    font-weight: bold;
}


/* 반응형 웹 시작 */


@media screen and (max-width: 768px) {
  

    #sub_bar_wrap {
        margin: 13% auto 0;
    }

    #sub_bar_wrap > ul {
        margin-top: 6%;
    }

}



@media screen and (max-width: 560px) {
    #sub_bar_wrap > h2 {
        font-size: 19px;
    }
}
