@charset "utf-8";



#new_mrk_allwrap {
    margin: 0 auto;
}

#new_mrk_exwrap {
    margin: 0 auto;
    max-width: 878px;
    width: 100%;
}

#new_mrk_wrap {
    margin: 6% auto 3%;
}

#new_mrk_wrap > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

#new_mrk_wrap > ul li {
    width: 29%;
}

#new_mrk_wrap > ul li a .w_box_wrap img {
    width: 100%;
    vertical-align: top;
}


#new_mrk_wrap > ul li a .w_box_wrap {
    position: relative;
    overflow: hidden;
}

.w_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: all 0.5s;
    transform: translateX(-100%);
}

#new_mrk_wrap > ul li a:hover .w_box_wrap > .w_box {
    background: rgba(0, 0, 0, 0.7) url(../img/main/newplus.png) center no-repeat;
    transform: translateX(0);
}



#new_mrk_wrap > ul li a .bt_txt_wrap p {
    text-align: center;
    line-height: 22px;
    color: #000;
    font-size: 15px;
}

.bt_txt_wrap {
    margin: 6% 2% 10%;
}

#new_mrk_wrap > ul li:nth-child(4) .bt_txt_wrap,
#new_mrk_wrap > ul li:nth-child(5) .bt_txt_wrap,
#new_mrk_wrap > ul li:last-child .bt_txt_wrap {
    margin-bottom: 1%;
}

/* 서브메뉴 활성화 */

#sub_bar_wrap > ul li:first-child {
    background: #fa6868;
}

#sub_bar_wrap > ul li:first-child a {
    color: #fff;
    font-weight: bold;
    padding: 2.2% 0;
}

/* 리스트 넘버 스타일 */

#num_list_wrap {
    margin: 0 auto 5%;
}

#num_list {
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
}

#num_list > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#num_list > ul li {
    margin: 0 1%;
}

#num_list > ul li a {
    position: relative;
}

#num_list > ul li a figure {
    transform: scale(0.7);
}

#num_list > ul li a figure img {
    transform: scale(0.7);
}


.selected {
    color: #ff4c4c;
    font-weight: bold;
}


/* glayLayer */

#glayLayer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    /*flex;*/
    justify-content: center;
    align-items: center;
    z-index: 30;
}

#overLayer {
    width: 650px;
    height: 380px;
    background: #fff;
    position: relative;
    border: 4px solid #cecece;
    margin: 0 3%;
    border-radius: 1%;
}

#overLayer > figure {
    position: absolute;
    width: 40%;
    bottom: 50%;
    transform: translateY(50%);
    left: 6%;
    float: left;
}


#overLayer > figure img {
    width: 100%;
    vertical-align: top;
}

#overLayer > .md_btn_close {
    display: block;
    cursor: pointer;
}

#overLayer > .md_btn_close > img {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 4%;
}

#new_sm_extitle_wrap {
    width: 46%;
    position: absolute;
    right: 4%;
    bottom: 50%;
    transform: translateY(50%);
}


#new_sm_extitle_wrap > #sm_title_wrap {
    width: 100%;
}

#new_sm_extitle_wrap > #sm_title_wrap h6 {
    text-align: center;
    padding: 6% 7%;
    font-size: 20px;
    border-bottom: 2px solid #fa6868;
    color: #575757;
}

#new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul {
    margin-top: 7%;
}

#new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li {
    margin: 7% 2%;
    width: 100%;
    padding: 2.5% 0;
}

#new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li strong {
    font-size: 15px;
    color: #575757;
    width: 40%;
    float: left;
    display: inline-block;
    border-right: 1px solid #575757;
    padding-right: 5%;
    box-sizing: border-box;

}

#new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt,
#new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt2,
#new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt3 {
    display: inline-block;
    width: 52%;
    float: right;
    line-height: 20px;
    font-size: 14px;
    color: #585858;
}




@media screen and (max-width:768px) {
    #new_mrk_wrap > ul li {
        width: 45%;
    }

    #new_mrk_wrap > ul li:nth-child(5),
    #new_mrk_wrap > ul li:last-child {
        display: none;
    }
}

@media screen and (max-width:675px) {
    #overLayer {
        width: 500px;
        height: 700px;
    }

    #overLayer > figure {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 13%;
        transform: translateX(-50%);
        text-align: center;
    }

    #overLayer > figure > img {
        width: 60%;
    }


    #new_sm_extitle_wrap {
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: 13%;
        transform: translateX(-50%);
    }


    #new_sm_extitle_wrap > #sm_title_wrap {
        width: 100%;
        padding: 0 18%;
        box-sizing: border-box;
    }

    #new_sm_extitle_wrap > #sm_title_wrap h6 {
        padding: 5% 7%;
        font-size: 21px;
        border-bottom: 2px solid #fa6868;
        color: #575757;
    }

    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul {
        margin-top: 3%;
    }


    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li {
        margin: 4% 2%;
        padding: 4% 0;
    }

    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li strong {
        font-size: 17px;
    }


    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt2,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt3 {
        font-size: 16px;
        line-height: 23px;
    }
}

@media screen and (max-width:529px) {
    #new_sm_extitle_wrap > #sm_title_wrap h6 {
        font-size: 20px;
    }

    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li strong {
        font-size: 15px;
    }

    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt2,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt3 {
        font-size: 15px;
        line-height: 20px;        
    }
}

@media screen and (max-width:515px) {
    #overLayer {
        width: 400px;
        height: 570px;
    }

    #overLayer > figure {
        top: 13%;
    }

    #new_sm_extitle_wrap {
        bottom: 13%;
    }
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li strong {
        font-size: 14px;
    }

    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt2,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt3 {
        font-size: 13px;
        line-height: 18px;        
    }
}


@media screen and (max-width:470px) {
    #new_mrk_wrap > ul {
        justify-content: space-around;
        margin-top: 10%;
    }

    #new_mrk_wrap > ul li {
        width: 90%;
        margin-bottom: -5%;
    }

    #new_mrk_wrap > ul li:nth-child(2),
    #new_mrk_wrap > ul li:nth-child(3),
    #new_mrk_wrap > ul li:nth-child(4),
    #new_mrk_wrap > ul li:nth-child(5),
    #new_mrk_wrap > ul li:last-child {
        display: none;
    }

    #new_mrk_wrap {
        margin-bottom: 0;
    }

}

@media screen and (max-width:432px) {
    #overLayer {
        width: 390px;
        height: 500px;
    }

    #overLayer > figure {
        top: 11%;
    }

    #new_sm_extitle_wrap {
        bottom: 11%;
    }
    
     #new_sm_extitle_wrap > #sm_title_wrap h6 {
        font-size: 18px;
    }

    
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li strong {
        font-size: 12px;
    }

    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt2,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt3 {
        font-size: 11px;
        line-height: 16px;        
    }
}

@media screen and (max-width:411px) {
    #overLayer {
        
        height: 480px;
    }
    
    #overLayer > figure {
        top: 11%;
    }

    #new_sm_extitle_wrap {
        bottom: 11%;
    }
}

@media screen and (max-width:366px){
     #overLayer {        
        height: 450px;
    }
    
    #overLayer > figure {
        top: 11%;
    }

    #new_sm_extitle_wrap {
        bottom: 11%;
    }
    
      #new_sm_extitle_wrap > #sm_title_wrap h6 {
        font-size: 16px;
    }

    
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li strong {
        font-size: 11px;
    }

    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt2,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt3 {
        font-size: 10px;
        line-height: 16px;        
    }
}

@media screen and (max-width:333px){
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt2,
    #new_sm_extitle_wrap > #sm_title_wrap .new_sm_extitle > ul li span.change_txt3 {
        letter-spacing: -0.5px;        
    }
    
}
